@import url('https://fonts.googleapis.com/css?family=Hepta+Slab|Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
}

h1 {
  font-family: 'Hepta Slab', serif;
  padding: 3rem;
}

button {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  font-size: 18px;
  border: 1px solid transparent;
  background-color: #1db954;
  cursor: pointer;
  border-radius: 500px;
  padding: 16px 48px 18px;
  margin-bottom: 1rem;
  transition: 0.3s;
  outline: none;
}

a {
  color: white;
  text-decoration: none;
}

button:hover {
  background-color: #1cc959;
}

#header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('images/background-music.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#header-content {
  /* color: white; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#style-9::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: #151316e8;
}

#style-9::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#style-9::-webkit-scrollbar-thumb {
  background-color: #209f28;
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

main {
  /* background-color: #d0cad342; */
  background-color: #151316ba;
  /* width: 85vw; */
  width: calc(100% - 230px);
  overflow-y: scroll;
  /* margin-left: 1rem; */
  /* padding-left: 1.5rem; */
  /* padding-right: 1.5rem; */
}

#login-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#main-home-container {
  display: flex;
  color: white;
  height: calc(100vh - 100px);
  /* justify-content: space-between;   */
  position: relative;
}

#side-menu {
  /* width: 15vw; */
  width: 230px;
  /* height: 100vh; */
  background-color: #151316ba;
  /* margin-right: 1rem; */
  border-right: 2px solid #00ff8447;
  border-right: 2px solid #d8e6df54;
  /* margin-top: 3rem; */
}

nav a {
  display: block;
  padding: 8px;
  /* color: #1cc959; */
  font-family: 'Raleway', sans-serif;
}

nav a:hover {
  color: #1cc959;
}

.song-in-table:hover {
  background-color: #362d2ca3;
}

.chosen_active_song {
  color: #1cc959;
}

/* tr.song-in-table {
  border-bottom: 1px solid rgba(91, 94, 88, 0.66);
} */

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

.table_container {
  /* max-height: 450px; */
  /* overflow: auto; */
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

/* table { */
/* background-color: #1513169c; */
/* } */

th,
td {
  /* float: left; */
  padding: 8px;
  border-bottom: 1px solid #60555575;
}
tr {
  border-bottom: 2px solid rgba(91, 94, 88, 0.66);
  font-size: 16px;
  font-weight: 600;
}
th {
  border-bottom: 3px solid #63c006a8;
  text-align: left;
}

td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.album-header {
  margin-top: 2rem;
  display: flex;
  /* width: 200px; */
  /* justify-content: space-between; */
  align-items: center;
  padding: 0rem 1.5rem;
}

.audio_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #a8939347;
  /* margin-top: 1rem; */
  height: 100px;
  position: absolute;
  width: 100%;
  /* bottom: 0; */
  top: 100%;
  padding: 0.8rem 1.5rem;
  background-color: #242324;
  text-align: center;
  /* background: linear-gradient(
    150deg,
    rgba(141, 53, 53, 0.72) 0%,
    rgba(34, 121, 9, 0.5189426112241772) 50%,
    rgba(30, 104, 129, 0.8) 100%
  ); */
}

audio {
  outline: none;
  width: 50%;
  margin: 0 1.5rem;
}

#user-info-container {
  text-align: center;
  margin-bottom: 1rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px dotted darkseagreen;
}

thead th {
  position: sticky;
  top: 0;
}

thead tr:first-child th {
  position: sticky;
  color: #605757;
  top: 87.2px;
  font-size: smaller;
  background-color: #151316e8;
  border-bottom: 1px solid #60555575;
}
/* 
thead {
  position: sticky;
} */

.infinite-scroll-component {
  overflow: unset;
}

#favourite-songs-headline-container {
  position: sticky;
  background-color: #201e20;
  background-color: #1c1a1c;
  background-color: #242324;
  top: 0;
  /* padding-left: 1.5rem; */
  padding: 0.85rem 0rem 0.85rem 1.5rem;
  box-shadow: 1px 3px 14px 0px #ffffff;
  border-bottom: 1px solid white;
}

#favourite-songs-headline {
  font-family: 'Raleway', sans-serif;
  /* -webkit-text-fill-color: transparent; */
  /* margin-top: 1rem; */
  background: linear-gradient(
    150deg,
    rgba(141, 53, 53, 0.72) 0%,
    rgba(34, 121, 9, 0.5189426112241772) 50%,
    rgba(30, 104, 129, 0.8) 100%
  );
  /* margin-bottom: 1rem; */
  background-clip: unset;
  /* -webkit-background-clip: text; */
  font-size: 50px;
  /* background: -webkit-linear-gradient(#177cd9, #cf5151); */
  -webkit-background-clip: text;
  /* padding-bottom: 1rem; */
}

/* 
..........
Player
..........
*/

:root {
  /*   --my-variable-name: coral; */
  --copied-title-left-margin: 2rem;
  --width-of-song-info: 15rem;
}

#title-name-text,
#artists-names-text {
  /*   overflow: hidden; */
  display: flex;
  width: var(--width-of-song-info);
  white-space: nowrap;
  /*   position: relative; */
  /* font-size: 1.2rem; */
  padding: 0rem 0.5rem;
  /*   height: 20px; */
  /*   border: 1px solid brown; */
  /*   margin: 2.5em auto; */
  /*     background-color: #44474a;
    background-color: var(--my-variable-name); */
  /*    */
  margin: 0;
  font-family: 'Agency FB';
  color: #e4f6f8;
}

#title-name-text {
  padding-bottom: 0.4rem;
  font-family: 'Raleway', sans-serif;
}

#artists-names-text {
  color: #8c8080;
  font-size: 0.8rem;
  font-family: 'Raleway', sans-serif;
}
.active_animation {
  animation: 16s slide-left linear infinite;
}
#move-control,
#move-control2 {
  display: flex;
}

.adjacent-copy {
  margin-left: var(--copied-title-left-margin);
}
div#player-song-text-container {
  /* background-color: #8d3535b8; */
  width: var(--width-of-song-info);
  /* margin: 2.5em auto; */
  /*   padding: 0rem 1rem; */
  position: relative;
  /*   border: 2px solid black; */
  overflow: hidden;
  font-weight: 900;
}

@keyframes slide-left {
  25% {
    margin-left: 0%;
    /*     transform:translateX(0); */
  }
  100% {
    margin-left: calc(-50% - (var(--copied-title-left-margin) / 2));
    /*     transform:translateX(-100% -2rem); */
  }
}

#left-shade,
#right-shade {
  position: absolute;
  top: 0;
  width: 0.5rem;
  height: 100%;
  /*   border: 1px solid brown; */
  box-sizing: border-box;
}

#left-shade {
  background-image: linear-gradient(to left, transparent, #242324);
}
#right-shade {
  right: calc(100% - var(--width-of-song-info));
  background-image: linear-gradient(to right, transparent, #242324);
}
